*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: $font-one;
    color: $primary-black;
}

body{
	background: $primary-white;
}
.form {
  width: 100%;
  margin-bottom: 40px;
  .form-group-row{
  	display: flex;
  	justify-content: space-between;
  	.form-group{
  		width: 49%;
  		input{
  			margin-bottom: 0px;
  		}

  	}
  }
  .form-group {
    width: 100%;
    margin-bottom: 20px;
    label {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: 1px solid $primary-black;
      margin-bottom: 5px;
    }
    select{
    	width: 100%;
    	height: 40px;
    	border: 1px solid $primary-black;
    	background: transparent;
    	border-radius: 5px;
    	outline: none;
    	padding: 10px;
  	}
    &:last-child {
      margin-bottom: 0px;
    }
  }

  button {
    width: 100%;
    height: 40px;
    background: $primary-black;
    color: $primary-white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
.help-text {
  text-align: center;
  p {
    color: gray;
    a {
      cursor: pointer;

      color: $primary-black;
      font-weight: bold;
      font-family: $font-two;
    }
  }
}